@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --noir-profond: rgb(0, 0, 0);
    --gris-anthracite: rgb(26, 26, 26);
    --gris-sombre: rgb(51, 51, 51);
    --gris-clair: rgb(189, 189, 189);
    --blanc: rgb(255, 255, 255);
    --violet-sombre: rgb(75, 0, 110);
    --violet-clair: rgb(114, 2, 145);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}




/* HEADER
******************************/
header.scrolled {
    background-color: var(--noir-profond);
    transition: background-color 0.2s ease;
}
  

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
}

header > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 40px;
}

header > div > ul {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 800;
}

header > div > ul > li > a {
    color: var(--blanc);
    text-decoration: none;
}

header > div > button {
    width: 160px;
    height: 40px;
    background-color: var(--violet-clair);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div > button:hover {
    background-color: var(--violet-sombre);
}

header > div > button > a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanc);
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
}

header > div > button > a > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}




/* MAIN
******************************/

main > .resume {
    background-color: var(--blanc);
}

    /* HOME
    ******************************/
    .home {
        position: relative; 
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    
    .home > img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        filter: brightness(0.6);
        position: fixed;
        z-index: -1;
        top: 0;
    }
    
    .home > div {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: var(--blanc); 
        text-align: center; 
        z-index: 2;
    }
    
    .home > div > p {
        font-size: 20px; 
        font-weight: 300;
        line-height: 2.5;
        margin: 0 0 15px;
        width: 800px;
    }
    
    .home > div > p:first-of-type {
        font-size: 65px; 
        font-weight: 800;
        margin: 0;
    }

    .separation-line {
        width: 600px;
        border-bottom: 2px solid var(--gris-clair);
        display: flex;
        align-items: center;
        justify-content: center; 
        margin: 10px auto; 
    }
    
    /* SOCIAL ICONS
    ******************************/
    .social-icons-container-home {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }

    .social-icon-home {
        width: 50px;
        height: 50px;
        border: 2px solid var(--gris-clair);
        border-radius: 50%;
        background: none;
        margin: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .social-icon-home:hover {
        border-color: var(--blanc);
        transform: scale(1.05);
    }

    .social-icon-home > div {
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    /* INDIVIDUAL SOCIAL ICONS */
    .linkedin-icon-home {
        background-image: url(Images/Icones/linkedin-gris-clair.png);
    }

    .social-icon-home:hover .linkedin-icon-home {
        background-image: url(Images/Icones/linkedin-blanc.png);
    }

    .github-icon-home {
        background-image: url(Images/Icones/github-gris-clair.png);
    }

    .social-icon-home:hover .github-icon-home {
        background-image: url(Images/Icones/github-blanc.png);
    }

    .instagram-icon-home {
        background-image: url(Images/Icones/instagram-gris-clair.png);
    }

    .social-icon-home:hover .instagram-icon-home {
        background-image: url(Images/Icones/instagram-blanc.png);
    }

    .discord-icon-home {
        background-image: url(Images/Icones/discord-gris-clair.png);
    }

    .social-icon-home:hover .discord-icon-home {
        background-image: url(Images/Icones/discord-blanc.png);
    }
    
    .go-to-about {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: var(--blanc);
        border-radius: 50%;
        margin-top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
    }
    
    .go-to-about:hover {
        background-color: var(--violet-clair);
    }
    
    .arrow-bottom-icon {
        width: 25px;
        height: 25px;
        background: center / contain no-repeat url(Images/Icones/fleche-retour-noir-profond.png);
        transform: rotate(180deg);
    }
    
    .go-to-about:hover .arrow-bottom-icon {
        background-image: url(Images/Icones/fleche-retour-blanc.png);
    }

    /* ABOUT ME
    ******************************/
    .about-me {
        color: var(--blanc);
        width: 100%;
        height: 100%;
        background-color: var(--gris-anthracite);
        padding: 50px 200px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        scroll-margin-top: 90px;
    }

    .about-me > div > img {
        width: 150px;
        height: 150px;
    }

    .about-me > div:first-of-type {
        padding-right: 50px;
    }

    .about-me > div > p {
        font-size: 20px;
        font-weight: 800;
    }

    .about-me > div > p {
        font-size: 15px;
        font-weight: 300;
    }

    .about-me > div > div:last-of-type {
        display: flex;
    }

    .about-me > div > div > p {
        color: var(--gris-clair);
        font-weight: 300;
        margin-bottom: 25px;
    }

    .about-me > div > div > div > p {
        color: var(--gris-clair);
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .about-me > div > div > div > p:first-of-type {
        color: var(--blanc);
        font-weight: 800;
    }

    .about-me > div > p:first-child {
        color: var(--blanc);
        font-weight: 800;
        margin-bottom: 25px;
    }

    .about-me button {
        background-color: var(--violet-clair);
        border: none;
        border-radius: 5px;
        margin-left: 50px;
        width: 200px;
        height: 40px;
    }

    .about-me button:hover {
        background-color: var(--violet-sombre);
    }

    .about-me button > a {
        color: var(--blanc);
        font-size: 15px;
        font-weight: 800;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-me button > a > img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }



    
    /* RESUME
    ******************************/
    .resume {
        font-size: 15px;
        color: var(--gris-anthracite);
        font-style: italic;
        padding: 50px 280px;
        scroll-margin-top: 90px;
    }

    .resume > div > div > div {
        padding-bottom: 25px;
    }

    .title-resume-section {
        font-weight: 800;
        color: var(--noir-profond);
        font-style: normal;
        padding-bottom: 5px;
    }

    .education, .skills, .project-management {
        display: flex;
        align-items: flex-start;
        margin-bottom: 50px; 
    }

    .project-management {
        margin-bottom: 0;
    }

    .education > p, .skills > p, .project-management > p {
        width: 200px;
        font-weight: 800;
        text-decoration: 2px underline var(--violet-clair);
        text-underline-offset: 5px;
        padding-bottom: 5px;
    }

    .education > div, .skills > div, .project-management > div {
        flex: 1;
    }

    .education > div > div > div {
        display: flex;
        align-items: center;
        font-style: italic;
        padding-bottom: 5px;
    }

    .education > div > div > div > img {
        padding: 0 10px;
    }



    /* PROJECTS
    ******************************/
    .projects {
        padding: 50px auto;
        scroll-margin-top: 140px;
    }

    .projects > p {
        color: var(--blanc);
        font-weight: 800;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .projects > div > div {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 0 0 50px;
    }

    .projects > div > div > div > img {
        width: 200px;
        height: 200px;
        filter: saturate(0%);
    }


    .project-item {
        position: relative;
        width: 200px;
        height: 200px;
    }
      
    .project-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: saturate(0%);
        transition: 0.3s ease;
    }
      
    .project-item:hover > img {
        filter: saturate(0%) blur(2px) brightness(0.3);
    }
      
    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 0;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.3s ease;
        text-align: center;
        padding: 10px;
    }

    .overlay-text > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
      
    .project-item:hover .overlay-text {
        opacity: 1;
    }  



    /* INTERESTS
    ******************************/
    .interests {
        width: 100%;
        height: 500px;
        background-color: var(--blanc);
        scroll-margin-top: 90px;
    }




    /* CONTACT ME
    ******************************/
    .contact-form {
        width: 100%;
        height: 100%;
        background-color: var(--gris-anthracite);
        padding: 50px 0;
        scroll-margin-top: 90px;
    }

    .title-contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .title-contact-form > img {
        width: 25px;
        height: 25px;
    }

    .title-contact-form > p {
        font-size: 15px;
        font-weight: 800;
        color: var(--blanc);
        margin-left: 15px;
    }

    .form-contact-infos {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px; 
    }

    form > div {
        display: flex;
        flex-direction: row;
        color: var(--blanc);
        padding-bottom: 20px;
    }

    form > div > label {
        width: 100px;
        color: var(--blanc);
        font-size: 15px;
        font-weight: 800;
        margin-right: 15px;
    }

    form > div > label > span {
        color: var(--violet-clair);
        font-size: 20px;
    }

    #name, #email, #subject {
        color: var(--blanc);
        width: 320px;
        height: 30px;
        background-color: var(--gris-sombre);
        border: none;
        padding: 5px;
    }

    #message {
        font-family: 'Lato', sans-serif;
        color: var(--blanc);
        width: 320px;
        height: 120px;
        background-color: var(--gris-sombre);
        border: none;
        resize: none;
        padding: 5px;
    }

    .address-phone > p {
        color: var(--gris-clair);
        font-weight: 300;
        padding-bottom: 5px;
    }

    .address-phone > p:first-child {
        color: var(--blanc);
        font-size: 15px;
        font-weight: 800;
    }

    form > button {
        color: var(--blanc);
        font-size: 15px;
        font-weight: 800;
        width: 110px;
        height: 40px;
        background-color: var(--violet-clair);
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    form > button:hover {
        background-color: var(--violet-sombre);
    }

    form > button > img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }



/* FOOTER
******************************/
footer {
    position: relative;
    width: 100%;
    height: 195px;
    background-color: var(--noir-profond);
    color: var(--gris-sombre);
    font-size: 15px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.back-to-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: var(--blanc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.back-to-top:hover {
    background-color: var(--violet-clair);
}

.arrow-top-icon {
    width: 25px;
    height: 25px;
    background: center / contain no-repeat url(Images/Icones/fleche-retour-noir-profond.png);
}

.back-to-top:hover .arrow-top-icon {
    background-image: url(Images/Icones/fleche-retour-blanc.png);
}

/* SOCIAL ICONS
******************************/
.social-icons-container {
    display: flex;
}

.social-icon {
    width: 50px;
    height: 50px;
    border: 2px solid var(--gris-sombre);
    border-radius: 50%;
    background: none;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icon:hover {
    border-color: var(--blanc);
    transform: scale(1.05);
}

.social-icon > div {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* INDIVIDUAL SOCIAL ICONS */
.linkedin-icon {
    background-image: url(Images/Icones/linkedin-gris-fonce.png);
}

.social-icon:hover .linkedin-icon {
    background-image: url(Images/Icones/linkedin-violet-clair.png);
}

.github-icon {
    background-image: url(Images/Icones/github-gris-fonce.png);
}

.social-icon:hover .github-icon {
    background-image: url(Images/Icones/github-violet-clair.png);
}

.instagram-icon {
    background-image: url(Images/Icones/instagram-gris-fonce.png);
}

.social-icon:hover .instagram-icon {
    background-image: url(Images/Icones/instagram-violet-clair.png);
}

.discord-icon {
    background-image: url(Images/Icones/discord-gris-fonce.png);
}

.social-icon:hover .discord-icon {
    background-image: url(Images/Icones/discord-violet-clair.png);
}

footer > div > p > span {
    color: var(--blanc);
}

.credits {
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits > img {
    width: 5px;
    height: 5px;
    margin: 0 20px;
}

.credits > img:hover {
    content: url(Images/Icones/linkedin-violet-clair.png);
}



.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.modal-content img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    cursor: pointer;
}
